*{
    padding: 0;
    margin: 0;
}

a{
    color: black;
    text-decoration: none;
}

ul,
li{
    padding: 0;
    margin: 0;
    list-style: none;
}

:root{
    --root-basic: #fff;
    --root-white: #fcfcfc;
    --root-dark-white: #e1e1e1;
    --root-navy-blue: #2c385d;
    --root-dark-earthy-gray: #555b7b;
    --root-light-earthy-gray: #7e7f99;
    --root-earthy-gray: #a8a3b7;
    --root-basic-pink:#FF7D9D;
}