.wrapper{
    width: 100%;
    height: 100%;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: var(--root-white);
    width: 100%;
    height: 10vh;
}

.head .logo img {
    background-size: contain;
    background-repeat: no-repeat;
    width: 20vw;
}


.head .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 21vw;
    height: 7vh;
}

.head .buttons .bt1,
.bt2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8vw;
    height: 5.5vh;
    border-radius: 5px;
}

.head .buttons .bt1 {
    border: #cccccc 1px solid;
    cursor: pointer;
    transition:  0.3s;
}

.head .buttons .bt1:hover{
    background-color: #e6e6e6;
}

.head .buttons .bt1:active{
    background-color: #cccccc;
}

.head .buttons .bt2 {
    background-color: var(--root-basic-pink);
    cursor: pointer;
    box-shadow:
        0px 0px 2.2px rgba(0, 0, 0, 0.034),
        0px 0px 5.3px rgba(0, 0, 0, 0.048),
        0px 0px 10px rgba(0, 0, 0, 0.06),
        0px 0px 17.9px rgba(0, 0, 0, 0.072),
        0px 0px 33.4px rgba(0, 0, 0, 0.086),
        0px 0px 80px rgba(0, 0, 0, 0.12);
    transition: 0.3s;
}

.head .buttons .bt2:hover{
    background-color: #ff7d9e;
}

.head .buttons .bt2:active{
    background-color: #ff638a;
}

.image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.body{
    width: 100%;

    background-color: lightpink;
}

.image-buttons {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}

.image-button {
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    padding: 10px;
    cursor: pointer;
    pointer-events: auto;

    transition: background-color 0.3s;
}

.image-button:hover {
    background-color: #e0e0e0; /* 鼠标悬停时的背景色 */
}

.image-button:active {
    background-color: #c0c0c0; /* 按钮被点击时的背景色 */
}

.image-container img{
    width: 80vw;
    height:80vh;

    user-select: none;
}

.prev {
    left: 10vw;
    color:black;
    font-size: 2vw;
}

.next {
    right: 10vw;
    color:black;
    font-size: 2vw;
}

.footer{
    width: 100%;
    height: 8vh;
    margin-top:0;

    background-color: black;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.introduce-container{
    margin-top: 10vh;
    width: 100%;
    height: 80vh;

    display: flex;

    align-items: center;
    flex-direction: column;
}

.introduce-container h3{
    color: #F4F7FA;

    font-size: 2.2vw;
}

.introduce-list{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introduce-container li{
    width: 80vw;
    height: 10vh;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 10vh;
}

.introduce-container li img{
    height: 15vh;
    width: 15vw;

    user-select: none;
}

.introduce-container li span{
    color: #6b6b6b;
    font-size: 1.5vw;
    font-weight: 500;
    text-align: center;

    margin-left:2vw;
    user-select: none;
}